@if (QotdVm is null)
{
    <div>Quote of the Day wird geladen...</div>
}
else
{
    <div class="container">
        <div class="text-center">
            <div class="p-2 rounded-3">
                <h5 class="display-6 py-3">@Title</h5>
                <p class="text-center">
                    <!-- Variante 1 Klassik -->
                    @if (!string.IsNullOrEmpty(QotdVm.AuthorPhotoMimeType))
                    {
                        <!-- TODO: Bild anzeigen -->
                    }
                    else
                    {
                        <img width="150" src="https://via.placeholder.com/150"/>
                    }
                </p>
                <blockquote class="text-center">
                    <p class="lead fw-bold">@QotdVm.QuoteText</p>
                    <cite>
                        <span>@QotdVm.AuthorName - @QotdVm.AuthorDescription</span>
                        <br/>
                        <span>
                            @(QotdVm.AuthorBirthDate is not null 
                                ? QotdVm.AuthorBirthDate.Value.ToShortDateString()
                                : "")
                        </span>
                    </cite>
                </blockquote>
            </div>
        </div>
    </div>
}

@code {

    [Parameter, EditorRequired]
    public QuoteOfTheDayViewModel? QotdVm { get; set; } 
    
    [Parameter, EditorRequired]
    public string? Title { get; set; }
}
