@if(AuthorVm is not null) {
    <tr>
        <td>
            <AuthorImage Image="@AuthorVm.Photo"
                         ImageMimeType="@AuthorVm.PhotoMimeType"
                         alt="@AuthorVm.Name"
                         width="120">
            </AuthorImage>
        </td>
        <td>@AuthorVm.Name</td>
        <td>@AuthorVm.Description</td>
        <td>@(AuthorVm.BirthDate is not null ? AuthorVm.BirthDate.Value.ToShortDateString() : "k.A.")</td>
        <td>
            <!-- Aktion -->
            <button class="btn btn-danger" @onclick="() => DeleteAuthor(AuthorVm.Id)"><i class="bi bi-trash-fill"></i></button>
        </td>
    </tr>

    <ConfirmDialog ConfirmTitle="Löschen bestätigen"
                   ConfirmMessage="@($"Sind Sie sicher den Autor {AuthorVm.Name} zu löschen?")"
                   OnConfirmChangedCallback="ConfirmDeleteClicked"
                   @ref="ConfirmDialogComponent">
    </ConfirmDialog>
}


